{
    "overrides": [
          {
              "files": ".prettierrc",
              "options": { "parser": "json" }
          }
    ],
    "tabWidth": 4, 
    "useTabs": true, 
    "semi": true, 
    "singleQuote": true,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "bracketSpacing": true, 
    "endOfLine": "auto", 
    "htmlWhitespaceSensitivity": "ignore",
    "ignorePath": ".prettierignore",
    "jsxBracketSameLine": false, 
    "jsxSingleQuote": false,
    "requireConfig": false, 
    "stylelintIntegration": false,
    "trailingComma": "es5",
    "prettier.tslintIntegration": false 
  }